name: Web

on:
  push:
    paths:
    - 'web/**'
    - 'kubernetes/web.yaml'
    - '.github/workflows/web.yml'

jobs:
  flow:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./web
    steps:
      - uses: actions/checkout@v2
      - name: Cache node modules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          path: ./web/node_modules
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('./web/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - uses: actions/setup-node@v1
      - run: yarn install
      - run: yarn flow-typed
      - run: yarn flow
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./web
    steps:
      - uses: actions/checkout@v2
      - name: Cache node modules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          path: ./web/node_modules
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('./web/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - uses: codecov/codecov-action@v1
        with:
          files: ./coverage/clover.xml
  eslint:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./web
    steps:
      - uses: actions/checkout@v2
      - name: Cache node modules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          path: ./web/node_modules
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('./web/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - uses: actions/setup-node@v1
      - run: yarn install
      - run: yarn run eslint .
  docker-build:
    if: github.ref == 'refs/heads/master'
    defaults:
      run:
        working-directory: ./web
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
      - name: Cache node modules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          path: ./ebay-helper-frontend/node_modules
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('./web/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - run: yarn install
      - run: yarn run build
      - name: Dockerize
        run: docker build -t devkits-web .
      - uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}
      - name: Push Docker image to Digital Ocean
        run: |
          doctl registry login
          docker tag devkits-web registry.digitalocean.com/jbb/devkits-web:$(git log -1 --format=%ct)
          docker tag devkits-web registry.digitalocean.com/jbb/devkits-web
          docker push registry.digitalocean.com/jbb/devkits-web:$(git log -1 --format=%ct)
          docker push registry.digitalocean.com/jbb/devkits-web
  deploy:
    if: github.ref == 'refs/heads/master'
    needs: [ eslint, flow, test, docker-build ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}
      - run: |
          doctl kubernetes cluster kubeconfig save 76857a2c-c3c9-4e27-a500-65e359f42b0d
          kubectl config use-context do-lon1-devkits
          kubectl apply -f ./kubernetes/web.yaml
          kubectl set image deployment/devkits-web devkits-web=registry.digitalocean.com/jbb/devkits-web:$(git log -1 --format=%ct)
          kubectl rollout restart deployment/devkits-web

